.button__box{
  margin-left:15px; 

}




.button {
    text-transform: uppercase;
    padding: 10px 15px;
    background:$red;
    color:$white;
    font-size: 13px;
    @include ubuntu(medium);
    text-decoration: none;
    border-radius: 5px;
    display: flex;
  }
  
  
  .arrow__container {
    display:flex;
    justify-content: center;
    margin-bottom:41px;
  }
 
 
  .arrow-down {
    display:flex;
  }
  