.button {
  text-transform: uppercase;
  padding: rem(10px) rem(15px);
  background:$red;
  color:$white;
  font-size: rem(13px);
  @include ubuntu(medium);
  text-decoration: none;
  border-radius: rem(5px);
  display: flex;

  &__box {
    margin-left:rem(15px); 
  }
}

.arrow {
  &__container {
    display:flex;
    justify-content: center;
    margin-bottom:rem(41px);
  }

  &-down {
    display:flex;
  
    &__icon {
      fill: $white;
      width: rem(29px);
      height: rem(14px);
    }
  }
}