$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$blackhover: #1f2122;
$red: #e35028;
$white: #ffffff;
$beige:#fff;
$gray: #d1cfcb;
$green: #8ac03e;
$tablets: 768px;
$phones: 480px;

@import "media.scss";
@import "fonts.scss";
@import "layout.scss";
@import "section.scss";
@import "best.scss";
@import "btn.scss";
@import "header.scss";
@import "hero.scss";
@import "normalize.scss";
@import "pagination.scss";
@import "review.scss";
@import "team.scss";
@import "menu.scss";
@import "map.scss";
@import "form.scss";



