$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;
$white: #ffffff;
$beige:#fff;



@import "fonts.scss";
@import "layout.scss";
@import "section.scss";
@import "best.scss";
@import "btn.scss";
@import "header.scss";
@import "hero.scss";
@import "normalize.scss";
@import "pagination.scss";
@import "review.scss";

