.section-menu {
    background: url("../img/menu.jpg") center center no-repeat;
    background-size: cover;
    position: relative;

&__title{
    position: absolute;
    top: rem(116px);
    left:rem(109px);

    @include phones() {
        top: rem(30px);
        left: rem(30px);
    }
}
&__title-menu{
    color: $white;
    @include gagalin;
    font-size: rem(72px);
    font-weight: 400;
    line-height: rem(64px);
}

.menu-accordeon{
    position:absolute;
    top:0;
    right:0;
    bottom: 0;
    height:100%;
    width: 70%;
}

.menu__list{
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.menu__item {
    display: flex;

    &--active .menu__title {
        color:$yellow;
    }
    &--active .menu__desc-wrap {
        width: rem(540px);

        background:rgba(47, 50, 52, 0.93);
        padding:rem(60px) rem(35px);
    }
}
.menu__choice{
    text-decoration: none;
    height: 100%;
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: rem(80px);
    justify-content: center;
    position: relative;

    &::before{
        content:"";
        width: 100%;
        height: 100%;
        background-color: rgba(20, 20, 20, 0.7);
        position: absolute;
        top: 0;
        left:0;
    }
}
.menu__title{
    writing-mode:vertical-rl;
    transform:rotate(180deg);
    color:$white;
    @include gagalin;
    font-size: rem(40px);
    font-weight: 400;
    margin-bottom:rem(40px);
}

.menu__desc-wrap {
    width:0;
    overflow: hidden;
}
.menu__text {
    color: $white;
    font-family: Ubuntu;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
}













}




