.pagination {
    position: fixed;
    top: rem(100px);
    right: rem(50px);
  
  &__list {
    flex-direction: column;
  }
  &__item {
    margin-left: 0;
    margin-bottom: rem(5px);
  }
  &__item:before {
    display: none;
  }
  & .active .pagination__link {
    border-color: $beige;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: rem(1px) solid transparent;
  }
  &__link::before {
    content: "";
    display: flex;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background-color: $beige;
  }
}