.pagination {
  position: fixed;
  top: rem(100px);
  right: rem(50px); }

.pagination__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.pagination__item {
  margin-left: 0;
  margin-bottom: rem(5px); }

.pagination__item:before {
  display: none; }

.pagination .active .pagination__link {
  border-color: #fff; }

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0;
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: rem(1px) solid transparent; }

.pagination__link::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: rem(6px);
  height: rem(6px);
  border-radius: 50%;
  background-color: #fff; }
