.reviews {
  &__wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 25%;
    height: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &:hover .reviews__hover {
      display: flex;

    }

    @include tablets() {
      width: 50%;
      height: 25%;
    }
  }
  &__name {
    color:$white;
    @include gagalin;
    font-size: rem(14px);
    font-weight: 400;
    margin-bottom: rem(30px);

    @include tablets() {
      margin: 0 auto 20px;
    }

    @include phones() {
      text-align: center;
      font-size:rem(24px);
    }
  }
  &__text {
    color:$white;
   @include ubuntu(light);
    font-size: rem(14px);
    line-height: rem(24px);
    margin-bottom: rem(30px);
    @include tablets() {
      text-align: center;
    }
    @include phones() {
      display: none;
    }
  }

  &__hover {
    background-color: rgba(20, 20, 20, 0.7);
    height: 100%;
    flex-direction: column;
    display: none;
    padding: rem(20px);
    justify-content: center;
    box-sizing: border-box

  }

  &__buttons {
    &:first-child &__button {
      display:none;
    }
    &:last-child &__button {
      display: none;

      @include phones() {
        display:flex;
      }
    }
  }

  &__button {
    margin-left: 0;
    background-color:$black;
    margin: 0 auto;

    &--desktop {
      @include phones() {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include phones() {
        display: flex;
      }

    }

  }
  &__button:hover {
    background-color:$blackhover;
  }



  &-popup {
    display: none;
    width: 50%;
    border-radius: 5px;

    @include phones() {
      width: 95%;
    }
    h2 {
      margin-bottom: 0;
    }
    .reviews__text {
      color: $black;

      @include phones() {
        display: inherit;
      }
    }

    &__title {
      @include gagalin();
      font-size: 0.875rem;
      color: $black;
      margin-bottom: 1.5625rem;
      display: flex;
      justify-content: space-between;
    }
  }

  .close__link {
    display: block;
    outline: none;
  }

}
.fancybox-close-small {
  display: none;
}