.reviews__list {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 450px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.review_name {
  padding-top: 50px;
  color: #ffffff;
  font-family: Gagalin;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px; }

.review_text {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 30px; }

.reviews_button {
  margin-left: 0;
  background-color: #2f3234; }

.reviews__hover {
  background-color: rgba(20, 20, 20, 0.7);
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
  padding: 0 20px 0 33px; }

.reviews__item:hover .reviews__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
