.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 100%;
  overflow: hidden;

 
 &_centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; 
  }

  &-title {
    font-size: rem(72px);
    @include gagalin;
    color:$yellow;
    margin-bottom: rem(15px); 

    &__white {
      color:$white;
    }

    &__center {
      text-align: center;
    }
  }


  &-title_color_black {
    color:$black; 
  }
  &-title_position_center {
    text-align: center; 
  }


}

.section-desc{
 
    @include lifehack;
    letter-spacing: rem(-5.63px);
    line-height: rem(60px);
    font-size: rem(72px);
    text-transform: lowercase;
  } 

  .section-title__hero{
    margin-top:rem(87px)
  }
  
