.section {
  min-height: 650px; }

.section_centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section-title {
  font-size: 72px;
  font-family: 'Gagalin';
  color: #f9b43b;
  margin-bottom: 40px; }

.section-title_color_black {
  color: #2f3234; }

.section-title_position_center {
  text-align: center; }
