.section-team {
    background: url("../img/team-bg.jpg") center center no-repeat;
    background-size: cover;
    position: relative;

    &__block{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50%;
        background-color: rgba(47, 50, 52, 0.93);
        height: 100%
    }
        
    &__box{
        padding-top: 113px;
        padding-left: 97px;
    }

    &__title {
        color: $yellow;
        @include gagalin;
        font-size: 72px;
        font-weight: 400;
        margin-bottom: 35px;
    }
}

.team-accordeon {
    &__item {
        margin-bottom:35px;

        &--active .team-accordeon__content {
            display: flex;
        }
    
        &--active .team-accordeon__member-name {
            color: $yellow;
        }
        
        &--active .team-accordeon__member-name::before {
            transform: rotate(180deg);
        }
    }

    &__member-name {
        color: $white;
        @include gagalin;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        display: flex; 
        align-items: center;
    } 
    
    &__member-name::before {
        content: "";
        border-top: 7px solid $yellow;
        border-bottom: 0px solid transparent;
        border-right: solid 5px transparent;
        border-left: solid 5px transparent;
        margin-right:10px;
        transition: all 0.3s;
    }

    &__content {
        margin-top: 17px;
        display: none;
    }

    &__pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 21px;
    }
    
    &__desc {
        color: $white;
        @include ubuntu(300)
        font-size: 14px;
        line-height: 24.01px;
        max-width: 210px;
    }
    &__jobname {
        font-weight: 700;
        font-size: 14px;
    }
    &__obligation {
        font-weight: 300;
    }
}