.section-team {
    background: url("../img/team-bg.jpg") center center no-repeat;
    background-size: cover;
    position: relative;

    &__block{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50%;
        background-color: rgba(47, 50, 52, 0.93);
        height: 100%;
        @include tablets() {
            width:100%;
        }
    }
        
    &__box{
        padding-top: rem(113px);
        padding-left: rem(97px);

        @include phones() {
            padding-left: 0;
        }
    }

    &__title {
        margin-bottom: rem(35px);

        @include tablets() {
            text-align: center;
        }
    }
}

.team-accordeon {
    &__item {
        margin-bottom:rem(35px);

        @include tablets() {
            text-align: center;
            margin: 0 auto rem(35px);
        }

        &--active .team-accordeon__content {
            display: flex;
            @include tablets() {
                flex-direction: column;
            }
        }
    
        &--active .team-accordeon__view {
            color: $yellow;
            @include tablets() {
                justify-content: center;
            }
        }
        
        &--active .team-accordeon__member-name::before {
            transform: rotate(180deg);
        }
    }

    &__list { 
        display: flex;
        flex-direction: column;
    }

    &__view {
        color: $white;
        @include gagalin;
        font-size: rem(14px);
        font-weight: 400;
        text-decoration: none;
        display: flex; 
        align-items: center;

        @include tablets() {
            font-size: rem(25px);
        }
    } 
    
    &__view::before {
        content: "";
        border-top: rem(7px) solid $yellow;
        border-bottom: rem(0px) solid transparent;
        border-right: solid rem(5px) transparent;
        border-left: solid rem(5px) transparent;
        margin-right:rem(10px);
        transition: all 0.3s;
    }

    &__content {
        margin-top: rem(17px);
        display: none;
    }

    &__pic {
        width: rem(100px);
        height: rem(100px);
        border-radius: 50%;
        overflow: hidden;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: rem(21px);

        @include tablets() {
            margin:0 auto rem(22px);
        }
    }
    
    &__desc {
        color: $white;
        @include ubuntu(300);
        font-size: rem(14px);
        line-height: rem(24px);
        max-width: rem(210px);
    }
    &__jobname {
        font-weight: 700;
        font-size: rem(14px);
    }
    &__obligation {
        font-weight: 300;
    }
}