@font-face {
    font-family: 'Gagalin-Regular';
    src: url("../fonts/gagalin-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Lifehack-Medium';
    src: url("../fonts/lifehack_medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/ubuntu-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal; }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/ubuntu-medium-webfont.woff") format("woff");
    font-weight: 500;
    font-style: normal; }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url("../fonts/ubuntu-b-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal; }
  
  html,
  body {
    height: 100%; }
  
  body {
    font-size: rem(16px);
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-weight: 300;
    color: #2f3234; }
  
  .container {
    margin: 0 auto;
    position: relative;
    width: rem(940px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  
  .wrapper {
    position: relative;
    width: 100%;
    min-width: rem(960px);
    min-height: 100%;
    overflow: hidden; }
  
    .pagination {
      position: fixed;
      top: rem(100px);
      right: rem(50px);
    }
    .pagination__list {
      flex-direction: column;
    }
    .pagination__item {
      margin-left: 0;
      margin-bottom: rem(5px);
    }
    .pagination__item:before {
      display: none;
    }
    .pagination .active .pagination__link {
      border-color: #fff;
    }
    .pagination__link {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0;
      width: rem(16px);
      height: rem(16px);
      border-radius: 50%;
      border: rem(1px) solid transparent;
    }
    .pagination__link::before {
      content: "";
      display: flex;
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      background-color: #fff;
    }
  
  .section {
    min-height: rem(650px); }
    .section_centered {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  
  .section-title {
    font-size: rem(72px);
    font-family: 'Gagalin-Regular', Helvetica, sans-serif;
    color: #f9b43b;
    margin-bottom: rem(40px); }
    .section-title_color_black {
      color: #2f3234; }
    .section-title_position_center {
      text-align: center; }
  
  .button {
    font-family: "Ubuntu";
    text-transform: uppercase;
    padding: rem(10px) rem(15px);
    background: #e35028;
    color: #ffffff;
    font-size: rem(13px);
    font-weight: 500;
    text-decoration: none;
    border-radius: rem(5px);
    display: inline-block;
  margin-left:rem(15px); }
  
  .hero {
    background: url("../img/video-bg.png") center center no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  
  .header {
    padding-top:rem(12px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  
  .header__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto; }
  
  .hero__container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  
  .hero__content {
    -webkit-box-flex: .8;
    -ms-flex: .8;
    flex: .8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  
  .hero__text {
    color: #fff; }
  
  .hero__desc {
    font-family: "Lifehack-Medium", serif;
    letter-spacing: -5.rem(63px);
    line-height: rem(60px);
    font-size: rem(72px);
    text-transform: lowercase;
  } 
  
  .arrow-down {
    display:flex;
    justify-content: center;
    margin-bottom:rem(41px);
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  
  .nav__item:last-child .nav__link:after {
    display: none; }
  
  .nav__link {
    color: #ffffff;
    font-family: Ubuntu;
    font-size: rem(13px);
    font-weight: 500;
    line-height: rem(30px);
    text-transform: uppercase;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .nav__link:after {
      content: "";
      display: block;
      width: rem(4px);
      height: rem(4px);
      border-radius: 50%;
      background: #fff;
      margin: 0 rem(16px); }
  
  .hero__pic {
    width: 50%; }
  
  .hero__text {
    width: 50%; }
  .section-best {
    background: url("../img/best-bg.jpg") center center no-repeat;
    background-size: cover;
    padding: rem(134px) 0 rem(155px);
  }
  .section-title__best {
    font-family: "Gagalin-Regular";
    color: #2f3234;
    font-size: rem(72px);
    margin-bottom: rem(55px);
    text-align: center;
  }
  .best__list {
    display:flex;
    justify-content: space-between
  }
  .best__item {
    flex: 1;
    padding: 0 rem(15px);
    text-align: center;
  }
  .best-img {
    margin-bottom: rem(28px);
  }
  .best-title {
    color: #2f3234;
    font-family: Lifehack;
    font-size: rem(24px);
    font-weight: 500;
    line-height: 28.rem(14px);
    /* Text style for "100% свеже" */
    letter-spacing: -0.rem(6px);
    margin-bottom: rem(14px);
  }
  .best-desc {
    opacity: 0.8;
    color: #2f3234;
    font-family: Ubuntu;
    font-size: rem(14px);
    font-weight: 300;
  }
  .review {
    
  }
  .reviews__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .reviews__item {
    width: 25%;
    height: rem(450px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .review_name {
    padding-top: rem(50px);
    color: #ffffff;
    font-family: Gagalin;
    font-size: rem(14px);
    font-weight: 400;
    margin-bottom: rem(30px);
  }
  .review_text {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    margin-bottom: rem(30px);
  }
  .reviews_button {
    margin-left: 0;
    background-color: #2f3234;
  }
  .reviews__hover {
    background-color: rgba(20, 20, 20, 0.7);
    height: 100%;
    flex-direction: column;
    display: none;
    padding:0 rem(20px) 0 rem(33px);
  }
  
  .reviews__item:hover .reviews__hover {
    display: flex;
  }